<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="Argus Tests Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <includePath>.</includePath>
        <const name="DB_HOST" value="localhost"/>
        <const name="DB_USER" value="root"/>
        <const name="DB_PASSWORD" value="12345678"/>
        <const name="DB_NAME" value="argus_test"/>
    </php>
</phpunit>